awscli
aws_cdk.core
aws_cdk.aws_ec2
aws_cdk.aws_iam
aws_cdk.aws_lambda_event_sources
aws_cdk.aws_lambda
aws_cdk.aws_events
aws_cdk.aws_rds
aws_cdk.custom_resources
aws_cdk.aws_sns
aws_cdk.aws_events_targets
aws_cdk.aws_config
aws_cdk.aws_chatbot
boto3